@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.control {
  position: relative;

  display: block;
  height: 40px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 40px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.control::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.control:hover::after,
.control:focus::after {
  height: 100%;
}

.control:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Стили для тега header */

.search-input {
  background-color: inherit;
  border: none;
}

.search-input::placeholder {
  font: inherit;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.header-user-navigation,
.header-catalog-list,
.header-info {
  list-style: none;
}

.header-user-navigation a {
  color: #000000;
}

.main-navigation a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.header-catalog-item a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
}

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-navigation a:active,
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog-list {
  display: none;
}

/*уровень вложенности строки 206*/
.header-catalog-link:hover+.header-catalog-list,
.header-catalog-link:focus+.header-catalog-list {
  display: block;
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.header-button {
  /*сделаем позже*/
  display: none;
  width: 85px;
  height: 49px;

  font: inherit;
  color: #000000;

  background-color: inherit;
  border: 2px solid #000000;
}

.search-input:focus+.header-button {
  display: inline;
}

.header-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

/* Стили для section Лучшие предложения */

.hits-control-list,
.hits-list {
  list-style: none;
}

.hits-item-slogan {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.hits-list th {
  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: 20px;
  font-weight: 300;
}

.hits-list td {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  letter-spacing: 0.36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.hits-list .control {
  width: 220px;
}

/* Стили для section Каталог товаров */

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.catalog-item-img {
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;

  background-color: rgba(240, 197, 46, 0.5);
}

.catalog-item-img img {
  vertical-align: middle;
}

.catalog-item-img:hover,
.catalog-item-img:focus {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-item-img:active img {
  opacity: 0.3;
}

/* Стили для section Наши сервисы */

.services-control-list,
.services-list {
  list-style: none;
}

.services-item h3 {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.services .control {
  width: 160px;
}

.services .control:active {
  width: 280px;

  text-align: left;
  /*либо padding'ами*/
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

/* Стили для секции Наши бренды */

.brands-list {
  list-style: none;
}

/* Стили для секции О нас */

.partners-list {
  list-style: none;
}

.about-us h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.partners-item {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.about-us .control {
  width: 260px;
}

/* Стили для секции Контакты */
.contacts h2 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.map-content {
  background-color: #cccccc;
}

.contacts .control {
  width: 260px;
}

/* Стили для тега footer */

.footer {
  background-color: #464646;
}

.footer-user-navigation,
.footer-navigation,
.footer-social ul {
  list-style: none;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-navigation a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-address {
  letter-spacing: normal;
  font-style: normal;
  color: #ffffff;
}

.footer-tel_number {
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.footer-social {
  text-align: center;
}

.footer-logo,
.copyright {
  color: #ffffff;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.copyright:hover,
.copyright:focus {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

/* Стили для модального окна Напишите нам */

.feedback {
  /*Скрывает модалку*/
  display: none;
}

.feedback-field-title {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.feedback-field::placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 18px;
  font-weight: normal;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field {
  background-color: #f2f2f2;
}

.feedback button {
  border: none;
}

.feedback-field:hover {
  background-color: #eaeaea;
}

.feedback-field:focus {
  color: #464646;

  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.feedback-field:invalid {
  background-color: #f6dada;
}

.feedback button {

  background-color: inherit;
  border: none;
}

.map {
  /*Скрывает модалку*/
  display: none;
}

/* Далее стили для страницы каталога */

/* Стили для тега header */

.header-logout a {
  color: rgba(0, 0, 0, 0.3);
}

/* Заголовок и хлебные крошки */

.page-title {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* Стили для секции Каталог моноподов для селфи */

.item-catalog h3 {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  line-height: 70px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

/* Фильтр */

.filter fieldset,
.filter button {
  border: none;
}

.filter legend {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filter ul,
.sorting-list {
  list-style: none;
}

.filter input[type="text"] {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.filter-input+label {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 40px;
  color: #000000;
}

.filter-input:disabled+label {
  color: #a6a6a6;
}

.filter button {
  line-height: normal;

  background-color: inherit;
  border: none;
}

/* Сортировка */

.sorting a {
  font-size: 14px;
  letter-spacing: normal;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-current a {
  color: rgba(0, 0, 0, 1);
}

.sorting a:hover,
.sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: rgba(0, 0, 0, 1);
}

/* Список моноподов */

.item-catalog-list {
  list-style: none;
}

.item-catalog-title a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.item-catalog-list p {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  font-weight: 300;
  text-align: right;
}

.item-catalog-compare {
  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.item-catalog-compare:hover,
.item-catalog-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.item-catalog-compare:focus {
  color: rgba(0, 0, 0, 0.2);
}

.item-catalog-options {
  display: none;
}

.item-catalog-pic:hover .item-catalog-options {
  /*не работает*/
  display: inline;
}

/*Пагинация*/

.pagination {
  background-color: #ebebeb;
}

.pagination-list {
  list-style: none;
}

.pagination a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  font-weight: 800;
  text-transform: uppercase;
}

.pagination-page {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-previous,
.pagination-next,
.pagination-page-current {
  color: #000000;
}

/*дивы пока оставила, так как нужны для смены фона при наведении*/
.pagination-previous:hover,
.pagination-next:hover,
.pagination-next-link:focus .pagination-next {
  background-color: #d9d9d9;
}

.pagination-previous:active,
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-page:hover,
.pagination-page:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page:active {
  color: rgba(0, 0, 0, 1);
}

/* Стили для footer */

.footer-logout a {
  color: rgba(255, 255, 255, 0.3);
}

/*СЕТОЧНЫЕ СТИЛИ - ОБЪЕДИНИТЬ*/

body {
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*сетка header*/

.header.container {
  position: relative;

  background-image: linear-gradient(to bottom, transparent 40px, #f7e296 40px);
  background-clip: content-box;
}

.header-user-navigation,
.header-catalog-list,
.header-info {
  margin: 0;
  padding: 0;
}

/*оставила обертку header-wrapper, т.к при paddin'ах
фон либо занимает весь паддинг либо ужимается под контент*/

.header-wrapper {
  width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 23px;
}

.header-logo {
  display: block;
  width: 163px;
  height: 35px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.header-user-navigation {
  display: flex;
  width: 500px;
  /*или лучше min-width?*/
}

.header-compare {
  margin-left: auto;
}

.header-basket {
  margin-left: 35px;
}

.header-username {
  margin-right: 20px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.header-info {
  display: flex;
  width: 500px;
  /*или лучше min-width?*/
}

.header-delivery {
  margin-right: 40px;
}

.header-warranty {
  margin-right: 100px;
}

.header-contacts {
  margin-left: auto;
}

/*ТУТ ПРОБЛЕМА ОСТАЛАСЬ - неровные значения + не получится задать паддинг
   в дальнейшем для элементов списка, так как паддинг уже задан для фона, т.е
   нужно будет и подменю добавить класс header-wrapper*/
.header-catalog-list {
  position: absolute;
  top: 99%;
  /*только так совпал с хедером*/
  left: 0;

  width: 100%;
  padding-left: 21px;
  /*только так совпал с хедером*/
  padding-right: 20px;

  background-color: #f7e296;
  background-clip: content-box;
}

/*сетка слайдер*/

.hits-control-list,
.hits-list {
  margin: 0;
  padding: 0;
}

.hits-item {
  display: flex;
}

.hits-item:first-child .hits-item-pic {
  width: 384px;
  height: 486px;
  margin-left: 90px;
}

.hits-item:first-child .hits-item-info {
  width: 480px;
  margin-left: 125px;
  margin-right: 80px;
}

.hits-item:nth-child(2) .hits-item-pic {
  width: 345px;
  height: 485px;
  margin-left: 100px;
}

.hits-item:nth-child(2) .hits-item-info {
  width: 480px;
  margin-left: 139px;
  margin-right: 80px;
}

.hits-item:nth-child(3) .hits-item-pic {
  width: 526px;
  height: 334px;
  margin-left: 30px;
}

.hits-item:nth-child(3) .hits-item-info {
  width: 502px;
  margin-left: 42px;
  margin-right: 60px;
}

.hits-item-info tbody {
  display: flex;
  flex-direction: column-reverse;
}

/*сетка каталог*/

.catalog {
  margin-top: 110px;
}

.catalog-item {
  width: 160px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item-link {
  display: flex;
  flex-direction: column-reverse;
}

/*сетка сервисы*/

.services-control-list,
.services-list {
  margin: 0;
  padding: 0;
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.services {
  margin-top: 84px;

  background-image: linear-gradient(to bottom, transparent 107px, #e5e5e5 107px)
}

.services-control-list {
  width: 280px;
  padding-top: 80px;

  border-right: 7px solid #000000;
}

.services-list {
  width: 880px;
  padding-top: 80px;
  padding-left: 116px;
}

/*сетка наши бренды*/
.brands {
  margin-top: 94px;
  margin-bottom: 93px;
}

.brands-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.brands-item {
  position: relative;
  width: 260px;
  height: 100px;
  margin-right: 40px;
  outline: 1px solid black;
}

.brands-list li:nth-child(4) {
  margin-right: 0;
}

.brands-logo,
.brands-logo-color {
  position: absolute;
  top: 0;
  left: 0;
}

.brands-logo-color {
  opacity: 0;
  transition: opacity 0.3s;
}

.brands-link:focus .brands-logo-color,
.brands-link:hover .brands-logo-color {
  opacity: 1;
}

/*сетка о нас и контакты*/

.partners-list {
  margin: 0;
  padding: 0;
}

.container-info {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 460px;
}

.contacts {
  width: 560px;
}

/*сетка footer*/

.footer {
  margin-top: 98px;
  padding-top: 65px;
}

.footer-user-navigation,
.footer-navigation,
.footer-social {
  margin: 0;
  padding: 0;
}

.footer-logo {
  width: 163px;
  height: 35px;
}

.footer-wrapper-user {
  display: flex;
  justify-content: space-between;
}

.footer-user-navigation {
  display: flex;
  width: 480px;
  /*или лучше min-width?*/
}

.footer-login {
  padding-left: 135px;
}

.footer-username {
  margin-right: 20px;
}

.footer-compare {
  margin-left: auto;
}

.footer-basket {
  margin-left: 45px;
}

.footer-wrapper-navigation {
  display: flex;
}

.footer-tel_number {
  margin-left: auto;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  /*или лучше min-width?*/
  margin-left: 160px;
}

.footer-wrapper-social {
  display: flex;
}

.copyright {
  margin-left: auto;
}

.inner-page .footer {
  margin-top: 0;
}

/*сетки для модальных окон*/

.feedback {
  position: absolute;
  top: 1057px;

  width: 960px;
  margin: 0 auto; /*не работает*/

  background-color: #ffffff;
}

.map {
  position: absolute;
  top: 1852px;

  width: 960px;
  height: 559px;
  margin: 0 auto; /*не работает*/
}

/*ДАЛЕЕ СЕТКА СТРАНИЦЫ КАТАЛОГА*/

.inner-page .header {
  margin-bottom: 44px;
}

.page-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

/*сетка каталога*/

.item-catalog {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 70px, transparent 70px),
    linear-gradient(to right, #efefef 32.5%, transparent 32.5%);
  margin-bottom: 0;
}

.item-catalog .container {
  display: flex;
}

.filter {
  margin-right: 72px;
}

.filter form {
  width: 328px;
  margin-top: 70px;
}

.item-catalog-wrapper {
  width: 760px;
}

.filter ul,
.sorting ul,
.pagination-list,
.item-catalog-list {
  margin: 0;
  padding: 0;
}

.item-catalog-list li {
  width: 360px;
  margin-right: 39px;
}

.item-catalog-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 69px;
}

.item-catalog-list li:nth-child(2n) {
  margin-right: 0;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  display: flex;

  line-height: 70px;
}

.sorting-list li:first-child {
  margin-right: 20px;
}

.sorting-list li:nth-child(2) {
  margin-right: 30px;
}

.sorting-list li:nth-child(3) {
  margin-right: 210px;
}

.sorting-list li:nth-child(4) {
  margin-left: auto;
}

.item-catalog-list li {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 49px;
}

.item-catalog-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 38px;
}

.item-catalog-title {
  margin: 0;
  padding: 0;
  width: 260px; /*можно таким способом добиваться переноса слов в заголовке?*/
}

.item-catalog-info p {
  margin: 0;
  padding: 0;
}

.item-catalog-list li:first-child,
.item-catalog-list li:nth-child(2) {
  margin-top: 0;
}

.pagination {
  line-height: 70px;

  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  margin-bottom: 77px;
}

.pagination-list {
  display: flex;
}

.pagination-list li {
  margin-right: 30px
}

.pagination-previous,
.pagination-next {
  padding: 0 30px;
}
