@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.control {
  position: relative;

  display: block;
  height: 40px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 40px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.control::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: #f0c52e;
}

.control:hover::after,
.control:focus::after {
  height: 100%;
}

.control:active {
  color: rgba(0, 0, 0, 0.3);
}

/* HEADER */

.header-user-navigation,
.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.header-user-navigation a {
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;

  color: #000000;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.main-navigation a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.header-catalog-item a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  text-transform: none;
}

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.header-catalog-list a:hover,
.header-catalog-list a:focus,
.header-info a:hover,
.header-info a:focus {
  opacity: 0.6;
}

.header-user-navigation a:active,
.header-catalog-list a:active,
.header-info a:active {
  opacity: 0.3;
}

.header-catalog-link:hover,
.header-catalog-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header-catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog:hover .header-catalog-list,
.header-catalog-link:focus+.header-catalog-list {
  display: flex;
}

.search-input {
  display: inline-block;
  vertical-align: bottom;
  width: 356px;
  height: 49px;
  padding: 0;
  padding-left: 37px;

  color: #000000;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.header-button {
  display: none;
  vertical-align: bottom;
  width: 85px;
  height: 49px;
  margin-left: -5px;

  font: inherit;
  line-height: 30px;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
}

.search-input::placeholder {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  border-bottom-color: #000000;
}

.search-input:valid~.header-button {
  display: inline-block;
}

.header-button:hover,
.header-button:focus {
  color: #ffffff;

  background-color: #000000;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.header-logo {
  display: block;
  width: 163px;

  padding-top: 23px;
}

.header-logo img {
  width: 163px;
  height: 35px;
}

.header-logo[href]:hover,
.header-logo[href]:focus {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.header-logout a {
  color: rgba(0, 0, 0, 0.3);
}

.inner-page .header {
  margin-bottom: 37px;
}

.header.container {
  background-image: linear-gradient(to bottom, transparent 40px, #f7e296 40px);
  background-clip: content-box;
}

.header-wrapper {
  position: relative;

  padding: 0 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.header-compare {
  margin-left: auto;
}

.header-basket {
  margin-left: 41px;
}

.header-username {
  margin-right: 20px;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.header-delivery {
  margin-right: 34px;
}

.header-contacts {
  margin-left: auto;
}

.header-catalog-list {
  position: absolute;
  top: 87%;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  padding-left: 60px;
  padding-bottom: 35px;

  background-color: #f7e296;
}

.header-catalog-list ul:nth-child(2) {
  margin-left: 58px;
}

.header-catalog-list ul:nth-child(3) {
  margin-left: 77px;
}

.header-catalog {
  padding-bottom: 35px;
}

.header-catalog-link,
.header-info a {
  display: block;
  padding-top: 14px;
  padding-bottom: 15px;
}

.site-navigation form {
  position: relative;
  padding-top: 7px;
}

.site-navigation form::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 3px;


  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-login a {
  position: relative;

  padding-left: 26px;
}

.header-login a::before {
  content: "";

  position: absolute;
  top: 26px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/header-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-compare a {
  position: relative;

  padding-left: 19px;
}

.header-compare a::before {
  content: "";

  position: absolute;
  top: 28px;
  left: 0;

  width: 10px;
  height: 10px;

  background-image: url("../img/header-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-basket a {
  position: relative;

  padding-left: 22px;
}

.header-basket a::before {
  content: "";

  position: absolute;
  top: 26px;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url("../img/header-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-username a {
  position: relative;

  padding-left: 27px;
}

.header-username a::before {
  content: "";

  position: absolute;
  top: 26px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/header-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-catalog-link {
  position: relative;

  padding-right: 30px;
}

.header-catalog-link::after {
  content: "";

  position: absolute;
  top: 18px;
  left: 230px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

/* SECTION ЛУЧШИЕ ПРЕДЛОЖЕНИЯ - СЛАЙДЕР */

.hits-control-list,
.hits-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hits-item-slogan {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.hits-list th {
  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: 20px;
  font-weight: 300;
}

.hits-list td {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  letter-spacing: 0.36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.hits-list .control {
  width: 220px;
}

.hits-item {
  display: flex;
}

.hits-item:first-child .hits-item-pic {
  width: 384px;
  height: 486px;
  margin-left: 90px;
}

.hits-item:first-child .hits-item-info {
  width: 481px;
  margin-left: 125px;
  margin-right: 80px;
}

.hits-item:nth-child(2) .hits-item-pic {
  width: 345px;
  height: 485px;
  margin-left: 100px;
}

.hits-item:nth-child(2) .hits-item-info {
  width: 480px;
  margin-left: 139px;
  margin-right: 80px;
}

.hits-item:nth-child(3) .hits-item-pic {
  width: 526px;
  height: 334px;
  margin-left: 30px;
}

.hits-item:nth-child(3) .hits-item-info {
  width: 502px;
  margin-left: 42px;
  margin-right: 60px;
}

.hits.container {
  position: relative;

  background-image: linear-gradient(to bottom, #f7e296 113px, transparent 113px);
  background-clip: content-box;
}

.hits-item-info p {
  margin: 0;
}

.hits-item-info .hits-item-slogan {
  margin-top: 80px;
}

.hits-item-info p:nth-child(2) {
  margin-top: 19px;
}

.hits-item-info .control {
  margin-top: 43px;
  margin-left: 1px;
}

.hits-item-info {
  position: relative;
}

.hits-item-info::before {
  content: "";

  position: absolute;
  top: 38px;
  left: 1px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.hits-item:first-child .hits-item-info::after {
  content: "01";

  position: absolute;
  top: -13px;
  right: -15px;

  width: 166px;
  height: 131px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 179px;
  letter-spacing: 1.79px;
  line-height: 179px;
  font-weight: 800;
  color: #ffffff;
}

.hits-item-table tbody {
  display: flex;
  flex-direction: column-reverse;
}

.hits-item-table {
  width: 428px;
  margin-top: 48px;

  border-collapse: collapse;

  outline: 1px solid black;
  /*УБРАТЬ*/
}

.hits-item-table th,
.hits-item-table td {

  text-align: left;

  outline: 1px solid black;
  /*УБРАТЬ*/
}

.hits-control-list li {
  display: inline-block;
  vertical-align: top;
}

.hits-control-list label {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;
  margin-right: 21px;

  background-color: transparent;
  border: 1px solid #050505;
  border-radius: 50%;
  cursor: pointer; /*не срабатывает*/
}

.hits-control-list {
  position: absolute;
  bottom: 128px;
  right: 81px;

  font-size: 0;
}

.hits-control-list label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: none; */
  width: 6px;
  height: 6px;

  background-color: transparent;
  border: 1px solid #1f1f1f;
  border-radius: 50%;
}

/* SECTION КАТАЛОГ ТОВАРОВ */

.catalog-item h3 {
  margin: 0;
  margin-top: 34px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.catalog-item-img {
  position: relative;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.catalog-item-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.monopods-img img {
  top: 100%;
  transform: translate(-50%, -101%);
}

.catalog-item-img:hover,
.catalog-item-link:focus .catalog-item-img {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-item-img:active img {
  opacity: 0.3;
}

.catalog-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog {
  margin-top: 107px;
}

.catalog-item {
  width: 160px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item-link {
  display: flex;
  flex-direction: column-reverse;
}

/* SECTION НАШИ СЕРВИСЫ - СЛАЙДЕР*/

.services-item h3 {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.services .control {
  width: 160px;
}

.services .control:active {
  width: 277px;
  padding-right: 117px;

  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.services-control-list,
.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.services {
  padding-bottom: 70px;
  margin-top: 80px;

  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}

.services-control-list {
  position: relative;
  z-index: 1;

  width: 286px;
  padding-top: 80px;
  padding-bottom: 47px;

  border-right: 7px solid #000000;
}

.services-list {
  width: 880px;
  padding-top: 73px;
  padding-left: 116px;
}

.services-item p {
  margin: 0;
  margin-top: 32px;
}

.services-control-list .control {
  margin-bottom: 24px;
}

.services-item {
  padding-right: 335px;
}

.services-item.delivery {
  position: relative;
}

.services-item.delivery::after {
  content: "";

  position: absolute;
  top: 12px;
  right: 66px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* SECTION НАШИ БРЕНДЫ */

.brands {
  margin-top: 94px;
  margin-bottom: 92px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.brands-item {
  position: relative;
  width: 260px;
  height: 100px;
}

.brands-list li:nth-child(4) {
  margin-right: 0;
}

.brands-logo,
.brands-logo-color {
  position: absolute;
  top: 0;
  left: 0;
}

.brands-logo-color {
  opacity: 0;
  transition: opacity 0.3s;
}

.brands-link:focus .brands-logo-color,
.brands-link:hover .brands-logo-color {
  opacity: 1;
}

/* SECTION О НАС */

.partners-list {
  margin: 0;
  margin-top: 65px;
  margin-bottom: 56px;
  padding: 0;

  list-style: none;
}

.about-us h2 {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.about-us p {
  margin: 0;

  letter-spacing: normal;
}

.partners-item {
  position: relative;

  padding-left: 35px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.partners-item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 1px;

  width: 8px;
  height: 8px;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us .control {
  width: 260px;
}

.container-info {
  display: flex;
  justify-content: space-between;
}

.about-us {
  position: relative;

  width: 472px;
  padding-top: 52px;
}

.about-us::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 8px;

  background-color: #000000;
}

.about-us p:first-of-type {
  margin-top: 43px;
}

.about-us p:nth-of-type(2) {
  margin-top: 31px;
}

/* SECTION КОНТАКТЫ */

.contacts {
  position: relative;

  width: 562px;
  padding-top: 52px;
}

.contacts h2 {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.contacts .control {
  width: 260px;
  margin-left: 2px;
}

.contacts::before {
  content: "";

  position: absolute;
  top: 0;
  left: 2px;

  width: 80px;
  height: 8px;

  background-color: #000000;
}

.contacts p {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 39px;
  /* letter-spacing: normal; по макету так, но становится хуже */
}

.map-content {
  display: block;
  width: 560px;
  height: 220px;
  margin-bottom: 72px;
  margin-left: 2px;

  background-color: #cccccc;
}

/* FOOTER */

.footer {
  margin-top: 81px;
  padding-top: 43px;

  background-color: #464646;
}

.footer-user-navigation,
.footer-navigation,
.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-user-navigation a {
  display: block;
  padding-top: 17px;

  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-navigation a {
  display: block;
  padding-top: 20px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-address {
  padding-top: 14px;

  letter-spacing: normal;
  font-style: normal;
  color: #ffffff;
}

.footer-tel_number {
  margin-left: auto;
  padding-top: 14px;

  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.footer-logo,
.copyright {
  color: #ffffff;
}

.footer-logo[href]:hover,
.footer-logo[href]:focus {
  opacity: 0.6;
}

.footer-logo[href]:active {
  opacity: 0.3;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.copyright:hover,
.copyright:focus {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

.footer-logout a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-logo {
  width: 163px;
  height: 58px;
  padding-top: 23px;
}

.footer-wrapper-user {
  display: flex;
  justify-content: space-between;
}

.footer-user-navigation {
  display: flex;
  width: 480px;
  padding-left: 155px;
}

.inner-page .footer-user-navigation {
  padding-left: 0;
}

.footer-username {
  margin-right: 20px;
}

.footer-compare {
  margin-left: auto;
}

.footer-basket {
  margin-left: 41px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-left: 163px;
}

.copyright {
  margin-left: auto;
}

.inner-page .footer {
  margin-top: 0;
}

.footer-login a {
  position: relative;

  padding-left: 26px;
}

.footer-login a::before {
  content: "";

  position: absolute;
  top: 29px;
  left: 0px;

  width: 13px;
  height: 12px;

  background-image: url("../img/footer-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-compare a {
  position: relative;

  padding-left: 19px;
}

.footer-compare a::before {
  content: "";

  position: absolute;
  top: 31px;
  left: 0px;

  width: 10px;
  height: 10px;

  background-image: url("../img/footer-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-basket a {
  position: relative;

  padding-left: 22px;
}

.footer-basket a::before {
  content: "";

  position: absolute;
  top: 29px;
  left: 0px;

  width: 12px;
  height: 12px;

  background-image: url("../img/footer-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-username a {
  position: relative;

  padding-left: 29px;
}

.footer-username a::before {
  content: "";

  position: absolute;
  top: 29px;
  left: 3px;

  width: 13px;
  height: 12px;

  background-image: url("../img/footer-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-wrapper-navigation {
  display: flex;

  padding-top: 16px;
}

.footer-user-navigation a:hover::before,
.footer-user-navigation a:focus::before {
  opacity: 0.6;
}

.footer-user-navigation a:active::before {
  opacity: 0.3;
}

.footer-wrapper-social {
  position: relative;

  display: flex;
  padding-top: 62px;
  padding-bottom: 63px;
}

.footer-wrapper-social::before {
  content: "";

  position: absolute;
  top: 76px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.fb-link,
.instagram-link,
.tw-link {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;
}

.fb-link::before,
.instagram-link::before,
.tw-link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.fb-link::before {
  background-image: url("../img/fb.svg");
}

.instagram-link::before {
  background-image: url("../img/instagram.svg");
}

.tw-link::before {
  background-image: url("../img/twitter.svg");
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin-left: 509px;
}

.footer-social a:hover::before,
.footer-social a:focus::before {
  opacity: 0.6;
}

.footer-social a:active::before {
  opacity: 0.1;
}

/* МОДАЛЬНЫЕ ОКНА */

.feedback {
  position: absolute;
  top: 1057px;

  display: none;
  width: 960px;
  margin: 0 auto;
  /*не работает*/

  background-color: #ffffff;

}

.feedback-field-title {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.feedback-field::placeholder {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 18px;
  font-weight: normal;
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field {
  background-color: #f2f2f2;
}

.feedback button {
  border: none;
}

.feedback-field:hover {
  background-color: #eaeaea;
}

.feedback-field:focus {
  color: #464646;

  background-color: #ffffff;
  border: 3px solid #f0c52e;
}

.feedback-field:invalid {
  background-color: #f6dada;
}

.feedback button {

  background-color: inherit;
  border: none;
}

.map {
  position: absolute;
  top: 1852px;

  display: none;
  width: 960px;
  height: 559px;
  margin: 0 auto;
  /*не работает*/
}

/* BREADCRUMBS */

.page-title {
  padding-left: 59px;
  margin: 0;
  margin-bottom: 20px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  padding-left: 59px;
  margin: 0;
  margin-bottom: 44px;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

/* SECTION КАТАЛОГ МОНОПОДОВ ДЛЯ СЕЛФИ */

.item-catalog h3 {
  margin: 0;

  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  line-height: 70px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.item-catalog {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 70px, transparent 70px),
    linear-gradient(to right, #efefef 508px, transparent 508px);
  margin-bottom: 0;
}

.item-catalog .container {
  display: flex;
}

/*ФИЛЬТР СТОИМОСТЬ*/

.range-controls {
  position: relative;

  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  padding-left: 3px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 115px;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  /*или button, фокус с клавы нужен ?*/
  position: absolute;
  top: -9px;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #dadada;

  cursor: pointer;
}

.range-toggle-min {
  left: -6px;
}

.range-toggle-max {
  left: 109px;
}

.range-toggle:active {
  width: 22px;
  height: 22px;
}

.price-controls {
  margin-bottom: 34px;

  font-family: "Gilroy", "Tahoma", sans-serif;
  letter-spacing: normal;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  vertical-align: top;

  cursor: pointer;
  user-select: none;
}

.price-controls input {
  width: 54px;
  margin: 0;

  background: transparent;
  border: none;
}

.price-controls label:nth-of-type(2) {
  margin-left: 15px;
}

/* ФИЛЬТР ОСТАЛЬНОЕ*/

.filter fieldset,
.filter button {
  border: none;
}

.filter legend {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filter ul,
.sorting-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter input[type="text"] {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.filter-input+label {
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 40px;
  color: #000000;
}

.filter button {
  line-height: normal;

  background-color: inherit;
  border: none;
}

.filter {
  margin-right: 72px;
}

.filter form {
  position: relative;
  z-index: 1;

  width: 201px;
  margin-top: 69px;
  margin-right: 68px;
  margin-left: 59px;
}

.filter h3 {
  margin-left: 60px;
}

.filter fieldset {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.price legend {
  /*ПЕРЕДЕЛАТЬ падинг!*/
  padding-top: 13px;
  margin-bottom: 34px;
}

.filter fieldset:nth-of-type(2) {
  padding-bottom: 34px;
}

.filter fieldset:first-of-type::before,
.filter fieldset:first-of-type::after {
  content: "";

  position: absolute;

  width: 201px;
  height: 3px;

  background-color: #000000;
}

.filter fieldset:first-of-type::before {
  top: 0;
  left: 0;
}

.filter fieldset:first-of-type::after {
  bottom: 0;
  left: 0;
}

.filter fieldset:nth-of-type(2)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 201px;
  height: 3px;

  background-color: #000000;
}

ul.color-filter-list,
ul.bluetooth-filter-list {
  margin-top: 17px;
}

.color-filter-list li,
.bluetooth-filter-list li {
  padding-left: 38px;
}

.filter .control {
  width: 200px;
  padding: 0;
  margin-top: 32px;
}

/*чекбоксы и радиокнопки стилизация*/

.color-filter-list label,
.bluetooth-filter-list label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

input[type="checkbox"]:not(:checked)+label::before,
input[type="checkbox"]:checked+label::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -39px;

  width: 23px;
  height: 23px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="checkbox"]:not(:checked)+label::before {
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked+label::before {
  width: 26px;

  background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:checked:not(:disabled):hover+label::before,
input[type="checkbox"]:checked:not(:disabled):focus+label::before,
input[type="checkbox"]:not(:checked):hover+label::before,
input[type="checkbox"]:not(:checked):focus+label::before {
  opacity: 0.6;
}

input[type="checkbox"]:disabled+label::before,
input[type="checkbox"]:not(:checked):disabled+label::before {
  opacity: 0.25;
}

input[type="checkbox"]:disabled+label {
  color: #a6a6a6;
}

input[type="radio"]:not(:checked)+label::before,
input[type="radio"]:checked+label::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -39px;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="radio"]:not(:checked)+label::before {
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

input[type="radio"]:checked:not(:disabled):hover+label::before,
input[type="radio"]:checked:not(:disabled):focus+label::before,
input[type="radio"]:not(:checked):hover+label::before,
input[type="radio"]:not(:checked):focus+label::before {
  opacity: 0.6;
}

input[type="radio"]:disabled+label::before,
input[type="radio"]:not(:checked):disabled+label::before {
  opacity: 0.25;
}

input[type="radio"]:disabled+label {
  color: #a6a6a6;
}

/* input[type="radio"]:checked:not(:disabled):active+label::before {
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:not(:checked):not(:disabled):active+label::before {
  background-image: url("../img/radio-on.svg");
} */

/* СОРТИРОВКА */

.sorting a {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  letter-spacing: normal;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-current a {
  color: #000000;
}

.sorting a[href]:hover,
.sorting a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a[href]:active {
  color: rgba(0, 0, 0, 1);
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  margin-top: 18px;
}

.sorting-list li:first-child {
  margin-right: 29px;
}

.sorting-list li:nth-child(2) {
  margin-right: 30px;
}

.sorting-list li:nth-child(3) {
  margin-right: 214px;
}

.sorting-list li:nth-child(4) {
  margin-left: auto;
}

a.sorting-arrow-up,
a.sorting-arrow-down {
  display: block;
  width: 11px;
  margin-top: 7px;
  margin-left: 18px;

  background-repeat: no-repeat;
  background-position: 0 50%;
  opacity: 0.2;
}

a.sorting-arrow-down {
  opacity: 1;
}

.sorting-arrow-up {
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-arrow-down {
  background-image: url("../img/icon-down-dir.svg");
}

.sorting-arrow-up[href]:hover,
.sorting-arrow-up[href]:focus {
  opacity: 0.4;
}

.sorting-arrow-up[href]:active {
  opacity: 1;
}

/* СПИСОК МОНОПОДОВ */

.item-catalog-title a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.item-catalog-list p {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
  font-weight: 300;
  text-align: right;
}

.item-catalog-options .control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
}

.item-catalog-compare {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 13px;
  letter-spacing: 0.13px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.item-catalog-options {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);

  /* display: none; */
}

/*не работает - плохо сраб, нет курсора, эффекты кнопок не раб*/
.item-catalog-pic:hover~.item-catalog-options {
  /*только при ховере? ховер на картинку?*/
  display: block;
}

.item-catalog-compare:hover,
.item-catalog-compare:focus {  /*?*/
  color: rgba(0, 0, 0, 1);
}

.item-catalog-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.item-catalog-wrapper {
  width: 760px;
}

.pagination-list,
.item-catalog-list {
  margin: 0;
  padding: 0;
}

.item-catalog-list li {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  width: 360px;
  margin-top: 46px;
  margin-right: 40px;

  list-style: none;
}

.item-catalog-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 69px;
}

.item-catalog-list li:nth-child(2n) {
  margin-right: 0;
}

.item-catalog-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 33px;

  line-height: 24px;
}

.item-catalog-info p {
  margin: 0;
  padding: 0;
}

.item-catalog-list li:first-child,
.item-catalog-list li:nth-child(2) {
  margin-top: 0;
}

.item-catalog-title {
  margin: 0;
  width: 256px;

  font-weight: 800;
}

.item-catalog-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-catalog-pic {
  width: 360px;
  height: 380px;
}

/*PAGINATION*/

.pagination-list {
  display: flex;

  list-style: none;
}

.pagination a {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  font-weight: 800;
  text-transform: uppercase;
}

.pagination-page {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page-current {
  color: #000000;
}

.pagination-back,
.pagination-next {
  padding: 0 30px;

  color: #000000;
}

.pagination-next:hover,
.pagination-next:focus {
  background-color: #d9d9d9;
}

.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-page[href]:hover,
.pagination-page[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page[href]:active {
  color: rgba(0, 0, 0, 1);
}

.pagination {
  line-height: 71px;

  display: flex;
  margin-top: 33px;
  margin-bottom: 76px;

  background-color: #ebebeb;
}

.pagination-back {
  margin-right: 210px;
}

.pagination-next {
  margin-left: auto;
  padding-right: 28px;
  padding-left: 32px;
}

.pagination-list li {
  margin-right: 27px;
}

.pagination-list li:last-child {
  margin-right: 0;
}
